* {
    font-family: Tahoma, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    background-color: #f1f1f1;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #476865;
    box-shadow: 2px 2px 5px 2px rgb(238, 238, 238);
}


.navbar .leftside {
    float: left;
}

.navbar a {
    display: block;
    color: white;
    padding: 15px 20px;
    font-size: 20px;
    font-family: tahoma;
    text-align: center;
    text-decoration: none;
}

.navbar a:hover, .active {
    background-color: rgba(255, 255, 255, 0.3);
}

#mainDiv {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    height: 100%;
}

.sectionDiv {
    border: 1px solid;
    padding: 20px;
    padding-left: 10px;
    margin-bottom: 40px;
    width: 920px;
    height: 415px;
    background-color: white;
}

.pictureDiv {
    align-content: center;
    float: left;
    width: 366px;
    height: 458px;
}

.pictureDiv p {
    color: gray;
    font-size: 15px;
    padding: 10px;
}

.pictureDiv img {
    margin: 2px;
    width: 360px;
    height: 360px;
    border: 1px solid lightgray;
}

.pictureDiv a {
    text-align: center;
    display: block;
    background-color: red;
    color: white;
    width: 250px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 0px 0px 0px 2px red inset;
}

.pictureDiv a:hover {
    background-color: white;
    color: red;
    box-shadow: 0px 0px 0px 2px red inset;
}

.detailDiv {
    float: left;
    margin-left: 20px;
    width: 532px;
    height: 460px;
}


.statName {
    color: gray;
    font-size: 16px;
}

.detailDiv p:last-child, .skillDiv p {
    margin-top: 10px;
    line-height: 1.8;
}

.addDiv p {
    margin-left: 500px;
    margin-top: 10px;
    line-height: 1.8;
}

.infoDiv {
    margin-top: 20px;
    width: 532px;
    height: auto;
}

.infoDetails {
    padding-left: 10px;
    float: left;
    width: 340px;
    height: auto;
}

li span {
    color: gray;
}